html {
  box-sizing: border-box;
}
html * {
  box-sizing: inherit;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.colorBtn {
  margin: 20px;
  padding: 10px;
  border: 2px solid #8f59a7;
  color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

.box {
  margin: 20px;
  padding: 20px 0;
  width: 400px;
  border: 1px solid #8f59a7;
  border-radius: 10px;
  background-color: #8f59a7;
}

.text-firstname,
.text-name,
.parol,
.check {
  position: relative;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.check {
  display: flex;
  gap: 40px;
}

.text-firstname-input,
.text-name-input,
.text-parol-input {
  width: 100%;
  border: none;
  outline: none;
}

.text-firstname-label,
.text-name-label,
.text-parol-label {
  /* position: absolute; 
    top: -50%; 
    left: 10px; 
    transform: translateY(-50%);  */
  color: #ffffff;
}

.check-label {
  color: #ffffff;
}

.check-btn {
  color: #ffffff;
  background-color: #848181;
}

.not-valid {
  outline: 1px solid #ff0000;
}

.input-name {
  width: 100%;
}
.input-name:invalid {
  border: 1px solid #ff0000;
}

.input-name:valid {
  border: 1px solid #0dff00;
}
